html, body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	// background-color: black;
	color: white;
	font-size: 16px;
	height: 100%;
}


h2 {
	border-bottom: 3px solid rgba(176, 52, 112, 1);
}

strong {
	color: $highlightColour;
}

p {
	line-height: 1.4em;
	text-shadow: 1px 1px 1px black;
}

a {
	color: $highlightColour;
}


footer {
	box-sizing: border-box;
	text-shadow: 1px 1px 1px black;
	// position: absolute;
	// bottom: 0;
	// left: 0;
	// padding-left: $headerWidth;
	// width: 100%;
	text-align: center;
}

.lavender-text {
	margin-left: 10px;
	text-align: right;
	display: inline-block;
}

.main-nav {
	background-color: rgba(176,52,112, 0.5);
	// height: $headerHeight;
	z-index: 1;
}







.sub-nav {
	background-color: rgba(0,0,0, 0.5);

	a {
		display: block;
		text-shadow: none;

		&:hover {
			background-color: rgba(255,255,255, 0.9);
			color: black;
		}
	}

	a.active {
		background-color: white;
		color: black;
	}
}


.well {
	background-color: rgba(0,0,0, 0.7);
	padding: 20px;
	border-radius: 0 20px 0 0;
}


@media (min-width: 1226px) {
	.boxout-prices {
		position: fixed;
		right: 40px;
	}
}
@media (min-width: 767px) {
	.boxout-prices {
		text-shadow: 1px 1px 1px black;
	}
}
@media (max-width: 768px) {
	.boxout-prices {
		color: white;
		margin: 10px;
	}
}
.well.boxout-prices {
	background-color: rgba(176, 52, 112, 0.7);
}

table {
	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

td {
	vertical-align: bottom;
}

td:last-child {
    width: 1px;
	white-space: nowrap;
	padding-left: 15px;
}

.main {
	li {
		margin-bottom: 0.5em;
	}
}



@media (max-width: 767px) {
	html, body {
		font-size: 18px;
	}

	p {
		text-shadow: none;
	}




	.main-nav {
		a {
			display: block;
			padding: 20px 10px;
		}
	}

	.sub-nav {
		background-color: #a6a6a6;
		a {
			display: block;
			padding: 10px;
			text-shadow: 1px 1px 1px black;
			&:hover {
				text-shadow: none;
			}
		}
	}

	.main {
		color: #6a6a6a;
		padding-bottom: 10px;

		h1, h2 {
			color: $highlightColour;
		}
	}

	.well {
		background: none;
		padding: 10px;
		border-radius: inherit;
	}

	footer {
		text-shadow: none;
	}

	.mobile-hide {
		display: none;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	body {
		background-image: url("images/blue-nails-991.jpg");
		background-color: #36201a;
		background-repeat: no-repeat;
		background-size: 140%;
		background-position: top center;
	}

	.main-nav {
		z-index: 1;

		li {
			display: inline-block;
			padding: 20px;
		}
	}

	.sub-nav {
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;

		padding: 20px;

		a {
			padding: 20px;
			display: inline-block;
			width: 80%;
		}
	}

	.main {
		padding: 20px;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body {
		// background-image: url("images/blue-nails-1920.jpg");
		background-color: #36201a;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.main-nav {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		padding-left: $headerWidth;
		border-radius: 0 0 20px 0;
		height: $headerHeight;

		li {
			display: inline-block;
			padding: 20px;
		}
	}

	.table {
		display: table;
		width: 100%;
		height: 100%;
	}

	.table-row {
		display: table-row;
	}

	.sub-nav {
		display: table-cell;
		// box-sizing: border-box;
		// padding-top: $headerHeight;
		// height: 100%;
		width: $headerWidth;
		vertical-align: top;

		ul {
			margin-top: $headerHeight + 100px;
		}

		li {
			padding: 0 10px;
		}

		a {
			padding: 5px 10px;
		}
	}

	.main {
		display: table-cell;
		padding: 80px 40px 50px 40px;
	}

	.first-page {
		p {
			font-size: 1.4em;
		}

		margin: 10% 20% 0 20%;
	}

	footer {
		position: relative;
		bottom: -20px;
		left: 0;
		// padding-left: $headerWidth;
		width: 100%;
	}
}

@media (min-width: 992px) and (max-width: 1920px) {
	body {
		background-image: url("images/blue-nails-1920.jpg");
	}
}

@media (min-width: 1921px) {
	body {
		background-image: url("images/blue-nails-3840.jpg");
	}
}